
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckShow</title>
</head>
<body>
    <h2></h2>
    <h2>盘点显示</h2>
</body>
</html>
