
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EquipmentShow</title>
</head>
<body>
    <h2>我是设备显示页面</h2>
</body>
</html>
