
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EquipmentDeit</title>
</head>
<body>
    <h2>我是设备详情表</h2>
</body>
</html>
