
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/js/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改商品</title>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td>商品名称</td>
            <td><input id="name" type="text" /></td>
        </tr>
        <tr>
            <td>商品类型</td>
            <td><select id="tid"></select></td>
        </tr>
        <tr>
            <td>商品供应商</td>
            <td><select id="sid"></select></td>
        </tr>
        <tr>
            <td>商品图片</td>

            <td>
                <img id="img" alt="" width="70" height="100" />
                 <form><input id="File1" type="file" /></form>
            </td>
        </tr>
        <tr>
            <td>商品编码</td>
            <td><input id="code" type="text" /></td>
        </tr>
        <tr>
            <td>商品单位</td>
            <td><select id="uid"></select></td>
        </tr>
        <tr>
            <td>商品数量</td>
            <td><input id="num" type="text" /></td>
        </tr>
        <tr>
            <td>商品价钱</td>
            <td><input id="money" type="text" /></td>
        </tr>
        <tr>
            <td>商品体积</td>
            <td><input id="size" type="text" /></td>
        </tr>
        <tr>
            <td>商品负责人</td>
            <td><input id="people" type="text" /></td>
        </tr>
        <tr>
            <td><input id="Button1" type="button" value="修改" class="btn btn-info" onclick="Update()" /></td>
            <td><input id="Button1" type="button" value="取消" class="btn btn-info" onclick="Resert()" /></td>
        </tr>
    </table>
</body>
</html>
<script>
    var p = "http://localhost:65365";
    //文档就绪函数
    $(function () {
        TypeBang();
    })
    //绑定类型
    function TypeBang() {
        $.ajax({
            url: "http://localhost:65365/Guan/TypeBang",
            type: "get",
            success: function (d) {
              
                $.each(d, function () {
                    var str = '<option value="' + this.typedId + '">' + this.typedName + '</option>'
                    $("#tid").append(str);
                })
            },
            complete: function ()
            {
                SuppleBang();
            }
        })
    }
    //绑定供应商
    function SuppleBang()
    {
        $.ajax({
            url: "http://localhost:65365/Guan/SuppleBang",
            type: "get",
            success: function (d) {
               
                $.each(d, function () {
                    var str = '<option value="' + this.suppleId + '">' + this.suppleName + '</option>'
                    $("#sid").append(str);
                })
            },
            complete: function ()
            {
                UnitBang();
            }
        })
    }
    //绑定单位
    function UnitBang()
    {
        $.ajax({
            url: "http://localhost:65365/Guan/UnitBang",
            type: "get",
            success: function (d) {
             
                $.each(d, function () {
                    var str = '<option value="' + this.unitId + '">' + this.unitName + '</option>'
                    $("#uid").append(str);
                })
            },
            complete: function ()
            {
                FanGoods();
            }
        })
    }
    //反填商品
    function FanGoods()
    {
        
        $.ajax({
            url: "http://localhost:65365/Guan/GoodsFan",
            data: { id:@ViewBag.id},
            type: "get",
            dataType: "json",
            success: function (d)
            {
                if (d != null) {
                    $("#name").val(d.goodsName);
                    $("#tid").val(d.typedId);
                    $("#sid").val(d.suppleId);
                    $("#img").prop("src", p+d.goodsImg)
                    $("#code").val(d.goodsCode);
                    $("#uid").val(d.unitId);
                    $("#num").val(d.goodsNum);
                    $("#money").val(d.goodsMoney);
                    $("#size").val(d.goodsSize);
                    $("#people").val(d.goodsPeople);
                }
            }
        })
    }
    //修改
    function Update()
    {
        var data = new FormData();
        data.append("files", $("#File1").get(0).files[0]);

        var obj = {};
        obj.GoodsId=@ViewBag.id;
        obj.GoodsName = $("#name").val();
        obj.GoodsTid = $("#tid").val();
        obj.GoodsSid = $("#sid").val();
        obj.GoodsCode = $("#code").val();
        obj.GoodsUid = $("#uid").val();
        obj.GoodsNum = $("#num").val();
        obj.GoodsMoney = $("#money").val();
        obj.GoodsSize = $("#size").val();
        obj.GoodsPeople = $("#people").val();
        obj.GoodsState = 1;

        $.ajax({
            url: "http://localhost:65365/Guan/GoodsUpdate?ff=" + JSON.stringify(obj),
            type: "post",
            data: data,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (d)
            {
                if (d > 0) {
                    alert("修改成功");
                    location.href='/Guan/GoodShow'
                }
            }
        })

    }
    //取消
    function Resert()
    {
        location.reload();
    }
</script>