
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/js/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase</title>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td>用户Id</td>
            <td><input id="uid" type="text" /></td>
            <td>信息Id</td>
            <td><input id="pid" type="text" /></td>
        </tr>
        <tr>
            <td>订单编号</td>
            <td><input id="code" type="text" /></td>
            <td>订单时间</td>
            <td><input id="time" type="text" onclick="WdatePicker()" /></td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td><input id="quan" type="checkbox" onclick="Quan()" /></td>
            <td>商品名称</td>
            <td>商品类型</td>
            <td>商品供应商</td>
            <td>商品单位</td>
            <td>商品编号</td>
            <td>商品图片</td>
            <td>商品数量</td>
            <td>商品价钱</td>
            <td>商品体积</td>
            <td>商品负责人</td>
        </tr>
        <tbody id="ag">
        </tbody>
    </table>
    <input id="Button1" type="button" value="首页" class="btn btn-info" onclick="First()" />
    <input id="Button1" type="button" value="上一页" class="btn btn-info" onclick="Prove()" />
    <input id="Button1" type="button" value="下一页" class="btn btn-info" onclick="Next()" />
    <input id="Button1" type="button" value="尾页" class="btn btn-info" onclick="Last()" />

    <input id="Button1" type="button" value="保存" class="btn btn-info" onclick="Save()" />
    <input id="Button1" type="button" value="取消" class="btn btn-info" onclick="Rest()" />
</body>

</html>
<script>
    var p = "http://localhost:65365";
    var pagIndex = 1;
    var pagSize = 3;
    var pagCount = 0;
    var listCount = 0;
    //文档就绪函数
    $(function () {
        Show();
        $("#code").val("AD" + Math.random().toString().substr(Math.random().toString().indexOf('.') + 1, 5));
        $("#time").val("@ViewBag.time");


    })
    //首页
    function First() {
        pagIndex = 1;
        Show();
    }
    //上一页
    function Prove() {
        if (pagIndex == 1) {
            alert("已经是首页了");
            return;
        }
        pagIndex--;
        Show();
    }
    //下一页
    function Next() {
        if (pagIndex == listCount) {
            alert("已经是尾页了");
            return;
        }
        pagIndex++;
        Show();
    }
    //尾页
    function Last() {
        pagIndex = listCount;
        Show();
    }

    //显示
    function Show() {
        $.ajax({
            url: "http://localhost:65365/Guan/GoodsShow",
            type: "get",
            data: { pagIndex: pagIndex, pagSize: pagSize, typeId: $("#Select1").val(), name: $("#name").val() },
            dataType: "json",
            success: function (d) {

                //清空数据
                $("#ag").empty();
                $.each(d.a, function () {
                    var str = '<tr>'
                        + '<td><input class="Checkbox1" type="checkbox"  value="' + this.goodsId + '"/></td>'
                        + '<td>' + this.goodsName + '</td>'
                        + '<td>' + this.typedName + '</td>'
                        + '<td>' + this.suppleName + '</td>'
                        + '<td>' + this.unitName + '</td>'
                        + '<td>' + this.goodsCode + '</td>'
                        + '<td><img src = "' + p + this.goodsImg + '" alt = ""  width="70" height="100"/></td>'
                        + '<td><input id="num' + this.goodsId + '" type="text" value="1" /></td>'
                        + '<td>' + this.goodsMoney + '</td>'
                        + '<td>' + this.goodsSize + '</td>'
                        + '<td>' + this.goodsPeople + '</td>'
                        + '</tr>'
                    $("#ag").append(str);
                })
                pagCount = d.pagCount;
                listCount = Math.ceil(pagCount / pagSize);
            }
        })
    }

    //全选反选
    function Quan() {
        $(".Checkbox1").prop("checked", $("#quan").prop("checked"));
    }
    //获取选中文本框值
    function Save()
    {
        var obj = {};
        var arr = [];
        var arr1 = [];
        $(".Checkbox1:checked").each(function () {
            arr.push($("#num" + this.value).val());
        })
        obj.nums = arr.toString();
        $(".Checkbox1:checked").each(function () {
            arr1.push(this.value);
        })
        obj.ids = arr1.toString();
        obj.PurchasePid = $("#pid").val();
        obj.PurchaseUid = $("#uid").val();
        obj.PurchaseTime = $("#time").val();
        obj.PurchaseCode = $("#code").val();
        alert(JSON.stringify(obj))
        $.ajax({
            url: "http://localhost:65365/Guan/OrderDeitAllAdd?ff=" + JSON.stringify(obj),
            type: "post",
            dataType: "json",
            success: function (d)
            {
                if (d > 0) {
                    alert("采购成功");
                }
            }
        })
    }
   


</script>

