
@{
    ViewData["Title"] = "ReturnShow";
}

<h1>退货页面</h1>

<table class="table table-broder">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

