
@{
    ViewData["Title"] = "WarmHouseDeitShow";
}

<h1>仓库详情显示</h1>
<input id="Button1" type="button" value="返回仓库显示" class="btn btn-info"  onclick="ReturnWarm()"/>
<table class="table table-bordered">
    <tr>
        <td>入库清单编号</td>
        <td>仓库名称</td>
        <td>库位名称</td>
        <td>商品名称</td>
        <td>商品编号</td>
        <td>商品图片</td>
        <td>商品数量</td>
        <td>商品价钱</td>
        <td>商品体积</td>
        <td>商品负责人</td>
    </tr>
    <tbody id="ag">
    </tbody>
</table>

<script>
    var p = "http://localhost:65365";
    //文档就绪函数
    $(function () {
        Show();
    })
    //显示
    function Show() {

        $.ajax({
            url: "http://localhost:65365/Guan/WareHouseDeitShow",
            type: "get",
            data: {id:@ViewBag.wid},
            success: function (d) {
                $.each(d, function () {
                    var str = '<tr>'
                        + '<td>' + this.locationRuCode + '</td>'
                        + '<td>' + this.wareHouseName + '</td>'
                        + '<td>' + this.locationName + '</td>'
                        + '<td>' + this.goodsName + '</td>'
                        + '<td>' + this.goodsCode + '</td>'
                        + '<td><img src = "' + p + this.goodsImg + '" alt = ""  width="70" height="100"/></td>'
                        + '<td>' + this.oNum + '</td>'
                        + '<td>' + this.goodsMoney + '</td>'
                        + '<td>' + this.goodsSize + '</td>'
                        + '<td>' + this.goodsPeople + '</td>'

                    $("#ag").append(str);
                })
            }
        })
    }
    //返回显示仓库
    function ReturnWarm()
    {
        location.href = '/Guan/WarmHouseShow';
    }
</script>



