
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/jquery.min.js"></script>
    <script src="~/ECharts/echarts.js"></script>
    <script src="~/ECharts/echarts-all.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-image: url('file:///C:\Users\THUNDEROBOT\Desktop\WarmHouse.MVC\UI.MVC\wwwroot\ECharts\images\bg.jpg');">

</body>
</html>
